In [1]:
import pandas as pd
import numpy as np
from Model_Functions import Filtered_Data
from Model_Functions import Discretize, Probability_Matrix

In [2]:
data = pd.read_csv('../data/Final_Data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10820 entries, 0 to 10819
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            10820 non-null  object
 1   Name            10820 non-null  object
 2   Email           10820 non-null  object
 3   Position        10820 non-null  object
 4   Seniority       10820 non-null  object
 5   Location        10820 non-null  object
 6   Studio          10820 non-null  object
 7   Client          10820 non-null  object
 8   Client Tag      10820 non-null  object
 9   Project         10820 non-null  object
 10  Project Tag     10820 non-null  object
 11  Team Name       10820 non-null  object
 12  Email Leader    9685 non-null   object
 13  Year            10820 non-null  int64
 14  Month           10820 non-null  int64
 15  Day             10820 non-null  int64
 16  Date_timestamp  10820 non-null  object
 17  Engagement      10820 non-null  float64
dtypes: float64(1), int64(3), object(14)
memory usage: 1.5+ MB

In [4]:
data.drop(columns=['Email'], inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10820 entries, 0 to 10819
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            10820 non-null  object
 1   Name            10820 non-null  object
 2   Position        10820 non-null  object
 3   Seniority       10820 non-null  object
 4   Location        10820 non-null  object
 5   Studio          10820 non-null  object
 6   Client          10820 non-null  object
 7   Client Tag      10820 non-null  object
 8   Project         10820 non-null  object
 9   Project Tag     10820 non-null  object
 10  Team Name       10820 non-null  object
 11  Email Leader    9685 non-null   object
 12  Year            10820 non-null  int64
 13  Month           10820 non-null  int64
 14  Day             10820 non-null  int64
 15  Date_timestamp  10820 non-null  object
 16  Engagement      10820 non-null  float64
dtypes: float64(1), int64(3), object(13)
memory usage: 1.4+ MB

In [6]:
prueba = Filtered_Data(data,['Position'])
prueba_filtered = prueba[(prueba['Position']=='Visual Designer')]

In [7]:
prueba_filtered

                       Position  Engagement
Date_timestamp
2023-01-02      Visual Designer       3.640
2023-01-03      Visual Designer       3.985
2023-01-04      Visual Designer       3.760
2023-01-05      Visual Designer       3.890
2023-01-06      Visual Designer       3.895
...                         ...         ...
2023-06-26      Visual Designer       2.520
2023-06-27      Visual Designer       2.330
2023-06-28      Visual Designer       3.320
2023-06-29      Visual Designer       2.520
2023-06-30      Visual Designer       2.520

[126 rows x 2 columns]

In [8]:
'''
filtros = {
    'Team Name': 'Jurassic Bark'
}
prueba = Filtered_Data2(data, filtros )
prueba.sort_values(['Name','Date_timestamp'])
'''

"\nfiltros = {\n    'Team Name': 'Jurassic Bark'\n}\nprueba = Filtered_Data2(data, filtros )\nprueba.sort_values(['Name','Date_timestamp'])\n"

In [9]:
Discretize(prueba_filtered)
prueba_filtered[['State','Engagement']]

c:\Users\Josem\Documents\Tec\Semestre 5\Optimizacion Estocastica\Reto\Globant_Reto\scripts\Model_Functions.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['State'] = pd.cut(df['Engagement'], bins=bins, labels=labels, right=True)

               State  Engagement
Date_timestamp
2023-01-02       3-4       3.640
2023-01-03       3-4       3.985
2023-01-04       3-4       3.760
2023-01-05       3-4       3.890
2023-01-06       3-4       3.895
...              ...         ...
2023-06-26       2-3       2.520
2023-06-27       2-3       2.330
2023-06-28       3-4       3.320
2023-06-29       2-3       2.520
2023-06-30       2-3       2.520

[126 rows x 2 columns]

In [10]:
Probability_Matrix(prueba_filtered)

(array([[ 0.,  0.,  1.,  0.,  0.],
        [ 0.,  2.,  1.,  2.,  0.],
        [ 1.,  0., 46.,  5.,  2.],
        [ 0.,  3.,  7., 32.,  1.],
        [ 0.,  0.,  0.,  3., 19.]]),
 array([[0.        , 0.        , 1.        , 0.        , 0.        ],
        [0.        , 0.4       , 0.2       , 0.4       , 0.        ],
        [0.01851852, 0.        , 0.85185185, 0.09259259, 0.03703704],
        [0.        , 0.06976744, 0.1627907 , 0.74418605, 0.02325581],
        [0.        , 0.        , 0.        , 0.13636364, 0.86363636]]))